body { 
    text-align: center;
    background-size: 100px;
    background-color: rgb(73, 85, 139);
}
h1{
    text-align: center;
    color: rgb(104, 81, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(orange,yellow);
}
.player{
    width: 20px;
    height: 20px;
    position: absolute;
}
#maze{
    border: 1px solid rgb(226, 233, 255);
}

main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.borderWall {
  display: flex;
  height: 50px;
  width: 50px;  
 background-image: url(iceblock-1.jpg)
}

#start {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-top: none;
}

.walkWay {
  height: 50px;
  width: 50px;
  background: rgb(73, 85, 139)
}

.boxOnStart {
  height: 50px;
  width: 50px;
  background-image: url("icehole2.png");
}
.box {
  height: 50px;
  width: 50px;
  background-image: url("Igloo-icon.png")
}
.mazeRow {
    display: flex;
    flex-direction: row;
  }
.box2 {
  height: 50px;
  width: 50px;
  background-image: url("Igloo-icon.png");
  }
  
